workspace/PITOOL/src/main/resources/projectInfo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://com.pitool.projectInfo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.pitool.projectInfo">
	<wsdl:types>
		<xsd:schema targetNamespace="http://com.pitool.projectInfo"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			attributeFormDefault="unqualified">
			<!-- <xsd:import namespace="http://com.pitool.projectInfo" schemaLocation="project.xsd"/> -->
			<xsd:element name="CreateProjectRequest" type="tns:projectInfo" />
	<xsd:element name="CreateProjectResponse" type="tns:projectInfoResponse" />
	
	<xsd:complexType name="projectInfo">
		<xsd:sequence>
			<xsd:element name="projectInfo" type="tns:projectInfoType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="projectInfoResponse">
		<xsd:sequence>
			<xsd:element name="projectInfo" type="tns:projectInfoType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="projectInfoType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="details" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="manager" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="SA" type="xsd:string" minOccurs="0" />
			<xsd:element name="SD" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CreateProjectRequest">
		<wsdl:part element="tns:CreateProjectRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CreateProjectResponse">
		<wsdl:part element="tns:CreateProjectResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="projectInfo">
		<wsdl:operation name="CreateProject">
			<wsdl:input message="tns:CreateProjectRequest" />
			<wsdl:output message="tns:CreateProjectResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="projectInfoSOAP" type="tns:projectInfo">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreateProject">
			<soap:operation soapAction="http://com.pitool.projectInfo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="projectInfo">
		<wsdl:port binding="tns:projectInfoSOAP" name="projectInfoSOAP">
			<soap:address location="http://com.pitool.projectInfo" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
